@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'partials/media-queries';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
  box-shadow: 0 0 2px 1px var(--main-color-2);
}

.focus-off :focus {
  box-shadow: none;
}

:root {
  --main-bg-color:  #fafcfe;

  --main-color-1: #fafcfe;
  --main-color-2: #2980b9;
  --main-color-3: #616161;

  --font-size-large: 18px;
  --font-size-medium: 15px;
  --font-size-small: 13px;

  --font-size-section-title: 25px;
  --font-size-card-title: 20px;

  --hover-transition-time: .1s;
}

@include media-sm {
  :root {
    --font-size-large: 20px;
    --font-size-medium: 18px;
    --font-size-small: 16px;
  }
}

body {
  min-width: 320px;
  background-color: var(--main-bg-color);
  font-family: 'Raleway', sans-serif;
  font-size: var(--font-size-large);
}

p,
a,
button {
  color: var(--main-color-1);
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color-2);
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--font-size-section-title);
  font-weight: 700;

  &::after {
    content: '';
    width: 30px;
    height: 5px;
    position: absolute;
    left: calc(50% - 15px);
    bottom: -15px;
  }
}

.section-title-style-1 {
  color: var(--main-color-1);

  &::after {
    background-color: var(--main-color-1);
  }
}

.section-title-style-2 {
  color: var(--main-color-2);

  &::after {
    background-color: var(--main-color-2);
  }
}

.btn {
  border: none;
  cursor: pointer;
}

.triangle-shape-1 {
  &::after {
    content: '';
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: -1px;
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 100% 100%, 0% 100%);
    background-color: var(--main-bg-color);

    @include media-xl {
      height: 150px;
    }

    @include media-md {
      height: 100px;
    }

    @include media-sm {
      height: 50px;
    }
  }
}

.triangle-shape-2 {
  &::before {
    content: '';
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    top: -1px;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-color: var(--main-bg-color);

    @include media-xl {
      height: 150px;
    }

    @include media-md {
      height: 100px;
    }

    @include media-sm {
      height: 50px;
    }
  }
}